/*Google fonts*/

/* Andika */
.andika-regular {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.andika-bold {
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.andika-regular-italic {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.andika-bold-italic {
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* Alfa Slab One */
.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Andika", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Alfa Slab One", serif;
}





/* Text & colour */
body {
    background-color: #FFFBF0;
    color: #2E170E;
}

h1 {
    font-size: 75px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 22px;
}





/* Header */

/* Header responsive styling */
@media only screen and (max-width: 992px) {
    .heading {
        color: red;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 65px !important;
    }
}

@media only screen and (max-width: 768px) {
    .heading {
        color: blue;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 60px !important;
    }
}

@media only screen and (max-width: 600px) {
    .heading {
        color: green;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 46px !important;
    }
}





/* Skip to */

/* Skip general styling */
.skip-to {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.skip-button {
    font-size: 18px;
    font-family: "Andika", sans-serif;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #2E170E;
    color: white;
    border-radius: 40px;
    margin-top: 20px;
    margin-right: 20px;
}

.skip-link {
    text-decoration: none;
    color: white;
}

/* Skip responsive styling */
@media only screen and (max-width: 992px) {
    .skip-section {
        color: red;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .skip-section {
        color: blue;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .skip-section {
        color: green;
        padding-left: 30px;
        padding-right: 30px;
    }
}





/* Blog layout */
.blog-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* Section */

/* Section general styling */
.section-column {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FBD5D6;
}

.references-column {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #CC2753;
    color: white;
}

.section-heading {
    font-size: 70px;
    font-family: "Andika", sans-serif !important;
    font-weight: 700;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: left;
}

.section-heading1 {
    font-size: 70px;
    font-family: "Andika", sans-serif !important;
    font-weight: 700;
    padding-top: 150px;
    text-align: left;
}

.section-heading2 {
    font-size: 70px;
    font-family: "Andika", sans-serif !important;
    font-weight: 700;
    text-align: right;
}

.section-heading3 {
    font-size: 70px;
    font-family: "Andika", sans-serif !important;
    font-weight: 700;
    padding-bottom: 150px;
    text-align: left;
}

.star {
    background-color: #FFFF02;
}

/* Section responsive styling */
@media only screen and (max-width: 992px) {
    .section-heading {
        color: red;
        font-size: 60px !important;
    }
    .section-heading1 {
        color: red;
        font-size: 60px !important;
    }
    .section-heading2 {
        color: red;
        font-size: 60px !important;
    }
    .section-heading3 {
        color: red;
        font-size: 60px !important;
    }
}

@media only screen and (max-width: 768px) {
    .section-heading {
        color: blue;
        font-size: 50px !important;
    }
    .section-heading1 {
        color: blue;
        font-size: 50px !important;
    }
    .section-heading2 {
        color: blue;
        font-size: 50px !important;
    }
    .section-heading3 {
        color: blue;
        font-size: 50px !important;
    }
}

@media only screen and (max-width: 600px) {
    .section-heading {
        color: green;
        font-size: 46px !important;
    }
    .section-heading1 {
        color: green;
        font-size: 46px !important;
    }
    .section-heading2 {
        color: green;
        font-size: 46px !important;
    }
    .section-heading3 {
        color: green;
        font-size: 46px !important;
    }
    .section-column {
        margin-top: 50px !important;
    }
    .content-header {
        margin-top: 50px !important;
    }
}





/* Content */

/* Content general styling */
.content-header {
    margin-top: 100px;
}

.content-copy {
    margin-top: 10px;
    font-size: 22px;
    font-family: "Andika", sans-serif !important;
}

/* Content responsive styling */
@media only screen and (max-width: 992px) {
    .content-header {
        color: red; 
        padding-left: 100px;
        padding-right: 100px;
        align-items: flex-start;
    }
    .content-copy {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .content-header {
        color: blue;
        padding-left: 60px;
        padding-right: 60px;
    }
    .content-copy {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .content-header {
        color: green;
        padding-left: 30px;
        padding-right: 30px;
    }
    .content-copy {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px !important;
    }
}