/*Google fonts*/

/* Andika */
.andika-regular {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.andika-bold {
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.andika-regular-italic {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.andika-bold-italic {
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* Alfa Slab One */
.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Andika", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Alfa Slab One", serif;
}





/* Text & colour */
body {
    background-color: #FFFBF0;
    color: #2E170E;
}

h1 {
    font-size: 75px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 22px;
}





/* Header */

/* Header general styling */
.heading {
    padding-top: 105px;
}

/* Header responsive styling */
@media only screen and (max-width: 992px) {
    .heading {
        color: red;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 65px !important;
    }
}

@media only screen and (max-width: 768px) {
    .heading {
        color: blue;
        padding-left: 60px;
        padding-right: 60px;
        font-size: 60px !important;
    }
}

@media only screen and (max-width: 600px) {
    .heading {
        color: green;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 46px !important;
    }
}





/* Skip to */

/* Skip general styling */
.skip-to {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.skip-button {
    font-size: 18px;
    font-family: "Andika", sans-serif;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #2E170E;
    color: white;
    border-radius: 40px;
    margin-top: 20px;
    margin-right: 20px;
}

.skip-link {
    text-decoration: none;
    color: white;
}

/* Skip responsive styling */
@media only screen and (max-width: 992px) {
    .skip-section {
        color: red;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .skip-section {
        color: blue;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .skip-section {
        color: green;
        padding-left: 30px;
        padding-right: 30px;
    }
}





/* Blog layout */
.blog-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





/* Section */

/* Section general styling */
.section-column {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FBD5D6;
}

.references-column {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #CC2753;
    color: white;
}

.section-heading {
    font-size: 70px;
    font-family: "Andika", sans-serif !important;
    font-weight: 700;
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: left;
}

.section-heading1 {
    font-size: 70px;
    font-family: "Andika", sans-serif !important;
    font-weight: 700;
    padding-top: 150px;
    text-align: left;
}

.section-heading2 {
    font-size: 70px;
    font-family: "Andika", sans-serif !important;
    font-weight: 700;
    text-align: right;
}

.section-heading3 {
    font-size: 70px;
    font-family: "Andika", sans-serif !important;
    font-weight: 700;
    padding-bottom: 150px;
    text-align: left;
}

.section-heading4 {
    font-size: 70px;
    font-family: "Andika", sans-serif !important;
    font-weight: 700;
    padding-bottom: 150px;
    text-align: right;
}

.star {
    background-color: #FFFF02;
}

/* Section responsive styling */
@media only screen and (max-width: 992px) {
    .section-heading, .section-heading1, .section-heading2, .section-heading3, .section-heading4 {
        color: red;
        font-size: 60px !important;
    }
}

@media only screen and (max-width: 768px) {
    .section-heading, .section-heading1, .section-heading2, .section-heading3, .section-heading4 {
        color: blue;
        font-size: 50px !important;
    }
}

@media only screen and (max-width: 600px) {
    .section-heading, .section-heading1, .section-heading2, .section-heading3, .section-heading4 {
        color: green;
        font-size: 46px !important;
    }
    .section-column, .content-header {
        margin-top: 50px !important;
    }
}





/* Examples */

/* Examples general styling */
.responsive {
    width: 100%;
    height: auto;
}

/* Code snippet from W3Schools for a responsive 2 column layout */
* {
    box-sizing: border-box;
}

.column-left, .column-right {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: #FBD5D6;
    float: left;
}

.column-left2, .column-right2 {
    margin-top: 40px;
    padding-top: 50px;
    background-color: #FFFBF0;
}

.column-left3, .column-right3 {
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: #FBD5D6;
}

.column-left, .column-left2, .column-left3 {
    padding-left: 110px;
    padding-right: 10px;
    width: 55%;
}

.column-right, .column-right2, .column-right3 {
    align-content: center;
    padding-left: 40px;
    padding-right: 110px;
    width: 45%;
}

.column-content {
    padding-top: 20px;
}

.description {
    font-size: 18px !important;
    padding-top: 5px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
    .column-right, .column-left, .column-left2, .column-right2, .column-left3, .column-right3 {
        width: 100%;
    }
    .column-left, .column-left2, .column-left3 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .column-right {
        margin-top: 0px;
        padding-top: 30px;
    }
    .column-left {
        margin-top: 50px;
        padding-bottom: 0px;
    }
}





/* Content */

/* Content general styling */
.content-header {
    margin-top: 100px;
}

.content-copy {
    margin-top: 10px;
    font-size: 22px;
    font-family: "Andika", sans-serif !important;
}

.content-sub {
    margin-top: 30px;
}

.content-sub2 {
    margin-top: 10px;
}

.principles-description {
    padding-top: 5px;
    font-size: 18px !important;
}

.tab {
    margin-left: 40px;
}

/* YouTube embed */
.container {
    display: flex;
    justify-content: center;
}
    
iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
}

/* Content responsive styling */
@media only screen and (max-width: 992px) {
    .content-header, .content-copy, .content-sub, .content-sub2, .principles-description, .principles-img {
        padding-left: 100px;
        padding-right: 100px;
    }
    .content-header {
        color: red; 
        align-items: flex-start;
    }
    .container {
        padding-left: 70px;
        padding-right: 70px;
    }
}

@media only screen and (max-width: 768px) {
    .content-header, .content-copy, .content-sub, .content-sub2, .principles-description, .principles-img {
        padding-left: 60px;
        padding-right: 60px;
    }
    .content-header {
        color: blue;
    }
    .tab {
        margin-left: 30px;
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .content-header, .content-copy, .content-sub, .content-sub2, .principles-description, .principles-img {
        padding-left: 30px;
        padding-right: 30px;
    }
    .content-header {
        color: green;
    }
    .content-copy {
        font-size: 18px !important;
    }
    .tab {
        margin-left: 20px;
    }
    .principles-description {
        font-size: 16px !important;
    }
    .intro-description {
        font-size: 16px !important;
    }
}





/* Navigation Bar */

/* Navbar general styling */
.stdir-navbar {
    justify-content: right;
    padding-right: 80px;
    font-family: "Andika", sans-serif !important;
    font-size: 18px;
    color: #2E170E !important;
}

.stdir-title {
    padding-left: 80px;
    font-family: "Andika", sans-serif !important;
    font-size: 22px !important;
    font-weight: 700;
    color: #2E170E !important;
}

.stdir-navbg {
    background-color: #FFFBF0;
    padding-top: 20px;
}

.stdir-dropdown {
    font-size: 18px !important;
}

/* Navbar responsive styling */
@media only screen and (max-width: 992px) {
    .stdir-navbar {
        color: red;
        justify-content: right;
        padding-right: 80px;
    }
    .stdir-title {
        color: red;
        padding-left: 80px;
    }
    .nav-link {
        padding-left: 80px !important;
    }
}

@media only screen and (max-width: 768px) {
    .stdir-navbar {
        color: blue;
        justify-content: right;
        padding-right: 50px;
    }
    .stdir-title {
        color: blue;
        padding-left: 50px;
    }
    .nav-link {
        padding-left: 50px !important;
    }
}

@media only screen and (max-width: 600px) {
    .stdir-navbar {
        color: green;
        justify-content: right;
        padding-right: 20px;
    }
    .stdir-title {
        color: green;
        padding-left: 20px;
    }
    .nav-link {
        padding-left: 20px !important;
    }
}





/* Examples Intro */

/* Examples Intro general styling 
.intro-align {
    align-items: left !important;
}*/

.intro-img {
    padding-top: 50px;
    padding-left: 110px;
    padding-right: 110px;
}

.intro-copy {
    margin-top: 10px;
    font-size: 22px;
    font-family: "Andika", sans-serif !important;
    padding-left: 110px;
    padding-right: 110px;
}

.intro-description {
    padding-top: 5px;
    font-size: 18px !important;
}

.intro-column {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background: #FBD5D6;
}

/* Examples Intro responsive styling */
@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {
    .intro-description {
        font-size: 16px !important;
    }
    .intro-column {
        margin-top: 50px !important;
    }
}